<body class="vertical-layout vertical-menu-modern menu-expanded skin-blue fixed-navbar" data-open="click"
    data-menu="vertical-menu-modern" data-col="2-columns" data-gr-c-s-loaded="true" cz-shortcut-listen="true">
    <app-header></app-header>
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="assignmentdetails">
                    <div class="assignsearchead">
                        <div class="row">
                            <div class="col-12 col-md-2">
                                <div class="assigntitle">
                                    <h3>Applicant List</h3>
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="assignsearch applicantsearch">
                                    <ul>
                                        <li class="innerselectbox">
                                            <select class="hide-search  innerselectbox"
                                                (change)="sortValue($event.target.value)">
                                                <option value="ASC">Ascending</option>
                                                <option value="DESC">Descending</option>
                                            </select>
                                        </li>

                                        <li class="innerselectbox">
                                            <select class="hide-search  innerselectbox"
                                                (change)="sortId($event.target.value)">
                                                <option value="" selected disabled>-----Sorting------</option>
                                                <option value="application_id">Applicant Id</option>
                                                <option value="asso_name">Applicant Name</option>
                                                <option value="asso_uid">Associative ID</option>
                                                <option value="created_at">Created At</option>
                                            </select>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="assignment-table">
                        <ng-http-loader spinner="sk-wave"></ng-http-loader>
                        <div class="table-responsive hidden-responsive-scroll">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th><a href="#">Applicant Id</a></th>
                                        <th><a href="#">Applicant Name</a></th>
                                        <th><a href="#">Contact Info</a></th>
                                        <th><a href="#">Created At</a></th>
                                        <th><a href="#">Email/Name</a></th>
                                        <th><a href="#">Associative ID</a></th>
                                        <th><a href="#">User ID</a></th>
                                        <th><a href="#">Office Interview Status</a></th>
                                        <th class=" column-width60">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let list of listData">
                                    <tr>
                                        <td class="associatename">
                                            <p><a href="#">{{ list.application_id }}</a></p>
                                            <p><a href="#">In-Active</a></p>
                                        </td>
                                        <td class="associatename">
                                            <p><a href="#">{{ list.asso_name }}</a></p>
                                            <p>New</p>
                                        </td>
                                        <td>{{ list.primary_phone }}</td>
                                        <td>{{ list.stage_date }}</td>
                                        <td class="associatename">
                                            <p><a href="#">{{ list.primary_email }}</a></p>
                                            <p><a href="#">{{ list.reg_name }}</a></p>

                                        </td>
                                        <td>{{list.asso_uid}}</td>
                                        <td class="associatename">
                                            <p><a href="#">{{list.user_id}}</a></p>
                                        </td>
                                        <td class="associatename">
                                            <p>{{list.office_interview_status}}</p>
                                        </td>
                                        <td class="invitebutton">
                                            <div class="pendingactionlist ellipsisicon"><i
                                                    class="la la-ellipsis-h">&nbsp;</i>
                                                <ul class="editdropdown applicantaction">
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-search yellowbox"></i> Screening</a></li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-file-text lightgreenbox"></i> Complete
                                                            Interview</a></li>
                                                    <li><a href="javascript:void(0);"><i class="la la-info bluebox"></i>
                                                            Edit Contact Info</a></li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-sticky-note purplebox"></i> Notes</a></li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-file orangebox"></i> Extra Details/Info</a>
                                                    </li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-close redbox"></i>Remove Application</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>