    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="assignmentdetails">
                    <div class="assignsearchead">
                        <div class="row">
                            <div class="col-12 col-md-2">
                                <div class="assigntitle">
                                    <h3>Applicant List</h3>
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="assignsearch applicantsearch">
                                    <ul>
                                        <li class="innerselectbox">
                                            <select class="hide-search  innerselectbox"
                                                (change)="sortValue($event.target.value)">
                                                <option value="asc">Ascending</option>
                                                <option value="desc">Descending</option>
                                            </select>
                                        </li>

                                        <li class="innerselectbox">
                                            <select class="hide-search  innerselectbox"
                                                (change)="sortId($event.target.value)">
                                                <option value="" selected disabled>-----Sorting------</option>
                                                <option value="asso_uid">Applicant Id</option>
                                                <option value="asso_name">Applicant Name</option>
                                                <option value="task_title">Assignment</option>
                                                <option value="created_at">Applicant Date</option>
                                                <option value="category_name">Role</option>
                                                <option value="phone_interview_status">Status</option>
                                            </select>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="assignment-table">
                        <ng-http-loader spinner="sk-wave"></ng-http-loader>
                        <div class="table-responsive hidden-responsive-scroll">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th><a href="#">Applicant Id</a></th>
                                        <th><a href="#">Applicant Name</a></th>
                                        <th><a href="#">Contact Info</a></th>
                                        <th><a href="#">Application Date</a></th>
                                        <th><a href="#">Assignment</a></th>
                                        <th><a href="#">Role</a></th>
                                        <th><a href="#">Resume</a></th>
                                        <th><a href="#">Status</a></th>
                                        <th class=" column-width60">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let list of listData">
                                    <tr>
                                        <td class="associatename">
                                            <p><a href="#">{{ list.asso_uid }}</a></p>
                                            <p><a href="#">In-Active</a></p>
                                        </td>
                                        <td class="associatename">
                                            <p><a href="#">{{ list.asso_name }}</a></p>
                                            <p>New</p>
                                        </td>
                                        <td>{{ list.primary_phone }}</td>
                                        <td>{{ list.created_at }}</td>
                                        <td class="associatename">
                                            <p><a href="#">{{ list.task_title }}</a></p>
                                            <p><a href="#">{{ list.task_title_1 }}</a></p>

                                        </td>
                                        <td>{{list.category_name}}</td>
                                        <td class="associatename">
                                            <p><a href="#">{{list.phone_interview_status_resume}}</a></p>
                                        </td>
                                        <td class="associatename">
                                            <p>{{list.phone_interview_status_status}}</p>
                                        </td>
                                        <td class="invitebutton">
                                            <div class="pendingactionlist ellipsisicon"><i
                                                    class="la la-ellipsis-h">&nbsp;</i>
                                                <ul class="editdropdown applicantaction">
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-search yellowbox"></i> Screening</a></li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-file-text lightgreenbox"></i> Complete
                                                            Interview</a></li>
                                                    <li><a href="javascript:void(0);"><i class="la la-info bluebox"></i>
                                                            Edit Contact Info</a></li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-sticky-note purplebox"></i> Notes</a></li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-file orangebox"></i> Extra Details/Info</a>
                                                    </li>
                                                    <li><a href="javascript:void(0);"><i
                                                                class="la la-close redbox"></i>Remove Application</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>